* {
  border: thin red dashed;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row{
  display: flex;
  justify-content: space-between;
}

.row-center{
  display: flex;
  justify-content: center;
}
.mb {
  margin-bottom: 10px;
}

.centered{
  text-align: center;
}

.container{
  width: 960px;
  border: 5px green solid;
}

.button  {
  color: teal;
  border: 1px teal solid; 
  border-radius: 5px; 
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-top: .25em;
  padding-bottom: .25em; 
}

.player-card{
  border: thin green solid;
  width: 49%;
  text-align: center;
}

.computer-card {
  border: thin red solid;
  width: 49%;
  text-align: center;
}

.outcome-card{
  border: thin red solid;
  background-color: pink;
  width: 66%;
  text-align: center;
}

.one-third{
  width: 32%
}